<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style>
    body { font-family:Poppins; background:#f4f6f9; text-align:center; }
    .card {
      background:white; width:60%; margin:50px auto; padding:30px;
      border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.2);
    }
  </style>
</head>
<body>

<div class="card">
  <h1>CNAPP APPLICATION</h1>
  <h1>About This noitacilppA</h1>
  <p>
    This Notes App is a cloud-native DevSecOps demonstration project.
    It shows how a modern application is built, secured, and deployed
    using CI/CD pipelines.
  </p>

  <h3>Technology Stack</h3>
  <ul style="list-style:none;">
    <li>🐍 Python Flask</li>
    <li>🐳 Docker Containers</li>
    <li>☸ Kubernetes (AKS)</li>
    <li>⚙ Jenkins CI/CD</li>
    <li>🔐 Lacework (Security – Pending Activation)</li>
  </ul>

  <h3>Goal</h3>
  <p>
135.235.242.23:8080    To demonstrate automated builds, container scanning,
    Kubernetes deployment, and security monitoring.
  </p>

  <a href="/">⬅ Back to Home</a>
</div>

</body>
</html>
